* {
	margin: 0px;
	padding: 0px;
}

body > * {
	text-align: center;
	display:flex;
	justify-content: center;
	align-items: center;
}

.dog-container {
	flex-direction: column;
	align-items: center;
}


body {
		display:flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
h1 {
	color:red;
	font-family: sans-serif;
	/* margin-bottom: 50px;; */
}




li {
	display:flex;
	justify-content: space-evenly;
}

li > * {
	margin:20px;
}


label + div {
	width: 400px;
	height: auto;
}

img {
	width:400px;

}


.hide {
	display:none;
}


section {
	display:flex;
	justify-content: space-evenly;
}

body {
	padding: 0px;
}

body > * {
	padding:70px;
	width: 100%;
	border-bottom: 1px solid grey;
	box-sizing: border-box;
}

#my-div {
	height:200px;
	width:200px;
	border: 2px solid black;
	margin-left: 50px;
}

button {
	    outline: none;
    border: none;
    background: teal;
    padding: 15px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
		transition: transform 100ms;
		cursor: pointer;
}

button:hover {
	transform: scale(1.05);
	box-shadow: 0 0 10px grey;
}

#dog-img {
	height: 300px;
	width: 400px;
	margin-bottom:20px;
}



section.pizza {
width: 500px;
    height: 500px;
    border-radius: 50%;
    background: orange;
    padding: 40px;
    box-sizing: border-box;
}

ul.crust {
  height:100%;
  width:100%;
  padding:60px;
  background: yellow;
	border-radius: 50%;
	box-sizing: border-box;
	margin:0px;
	display: flex;
	flex-wrap: wrap;
}

section.toppings {
  height:50vw;
  width:40vw;
}

ul.toppings > li {
  display:flex;
      display: flex;
    height: 70px;
    align-items: center;
}

.topping {
    border-radius:50%;
}
.pepperoni {
  width:50px;
  height:50px;
  margin:10px 10px 20px 10px;
  background:red;
}

.jalapeno {
  width: 50px;
  height: 30px;
  border: 11px solid green;
	margin: 10px 40px 10px 28px;
	
}



.mushroom {
  height:40px;
  width:60px;
  background:grey;
  margin:20px 20px 20px 10px;
}






.topping.invisible {
	visibility: hidden;
}